* {
  font-family: 'Helvetica Neue', 'Arimo', sans-serif;
  /*Helvetica Neue is not available on google font. So, as a fallback Arimo is used*/
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: relative;
  height: 100vw;
  max-height: 600px;
  width: 80vw;
  max-width: 500px;
  border-radius: 1rem;
  background: url('https://scx2.b-cdn.net/gfx/news/hires/2022/old-black-man.jpg');
  background-position: center center;
  background-size: 100%;
  box-shadow: black 0 30px 30px -30px;
  transition: all 0.8s ease-in;
}

.card-container:hover {
  background-size: 200%;
  background-position: center left;
}

.card-container::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: all 1s ease;
}

.card-container:hover::before {
  border: 1px solid white;
}

.card-title {
  color: transparent;
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  transition: all 1s ease;
}

.card-container:hover .card-title {
  color: white;
}

.card-tagline {
  color: transparent;
  font-weight: medium;
  font-size: 1.5rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transition: all 1s ease;
}

.card-container:hover .card-tagline {
  color: white;
}
